

<!-- <app-current></app-current> -->



<p class="solarTitle"> Aim:-  </p>
<p class="solarTheory"> The efficiency is the most </p>
<p class="solarTitle"> Theory:-  </p>
<p class="solarTheory">The efficiency is the most commonly used parameter to compare the performance of one solar cell to another. Efficiency is defined as the ratio of energy output from the solar cell to input energy from the sun. In addition to reflecting the performance of the solar cell itself, the efficiency depends on the spectrum and intensity of the incident sunlight and the temperature of the solar cell. Therefore, conditions under which efficiency is measured must be carefully controlled in order to compare the performance of one device to another. Terrestrial solar cells are measured under AM1.5 conditions and at a temperature of 25°C. Solar cells intended for space use are measured under AM0 conditions. Recent top efficiency solar cell results are given in the page</p>
<p class="solarTitle"> Procedure:-  </p>
<p class="solarTheory">The efficiency is the most commonly used parameter to compare the performance of one solar cell to another. Efficiency is defined as the ratio of energy output from the solar cell to input energy from the sun. In addition to reflecting the performance of the solar cell itself, the efficiency depends on the spectrum and intensity of the incident sunlight and the temperature of the solar cell. Therefore, conditions under which efficiency is measured must be carefully controlled in order to compare the performance of one device to another. Terrestrial solar cells are measured under AM1.5 conditions and at a temperature of 25°C. Solar cells intended for space use are measured under AM0 conditions. Recent top efficiency solar cell results are given in the page</p>

  <div class="row">
    <div class="materialBox">
      <div class="{{materialName=='g_a'?'materialSpanSelect':'materialSpan'}}" (click)="selectMaterial('g_a')"  >Gallium arsenide</div>
      <div class="{{materialName=='a_s'?'materialSpanSelect':'materialSpan'}}" (click)="selectMaterial('a_s')" >Amorphous silicon</div>
      <div class="{{materialName=='c_t'?'materialSpanSelect':'materialSpan'}}" (click)="selectMaterial('c_t')" >Cadium telluride</div>
      <div class="{{materialName=='c_i_g_s'?'materialSpanSelect':'materialSpan'}}" (click)="selectMaterial('c_i_g_s')" >copper indium gallium selenide </div>
    </div>


    <!-- left portion start -->
    <div class="col-4 ">

      <div class="row">
        <p class="OutputHead">Simulation for Voc</p>
       </div>

       <div class="tempBox">
        <p class="tempText">temperature range 273 to 373 (K): </p> <input class="TempInput" value="{{cur_Temp}}" #selectTemp (input)="setTemp(selectTemp.value)" />
      </div>

       <div class="tempBox">
        <p class="tempText">Area of material: </p> <input class="TempInput" value="{{cur_area}}" #selectArea (input)="setArea(selectArea.value)" />
      </div>
      <!-- <span class="rangeNotice">range between 273k to 373k</span> -->
        
      
       <div class="row">
        <p class="titleHead">Current density of short circuit current: {{JSC}} </p>
       </div>
      <div class="row">
        <div class="col-3">

        <p-slider [(ngModel)]="JSC" [step]="0.05" [min]="minJSC" [max]="maxJSC"  width="120%" [style]="{'width': '280px','margin':'10px','margin-left':'20px'}"></p-slider>
          
        <span class="minValue">{{minJSC}}</span>
        <span class="maxValue">{{maxJSC}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col ml-5"><button style="margin-left: 10px;" type="button" (click)="addToTable()" class="btn btn-secondary rounded-pill">Add to table</button></div>
      </div>
      <div class="row">
    <p class="constantDetails">current density (J0): <span class="constantValue">{{CURRENT_DENSITY}} mA/cm2</span></p>
      </div>
      <div class="row">
        <!-- <div class="col-1"></div> -->
        <div class="col-3 ml-5"><button style="margin-left: 10px;" type="button" class="btn btn-secondary rounded-pill" (click)="resetGraph()" >Reset</button></div>
        <div class="col-8"><button type="button" class="btn btn-info rounded-pill"  (click)="plotGraphVOC($event)" >Plot Graph</button></div>
      </div>
      <div class="row">
        <p class="OutputHead">Output (Isc)</p>
        <p *ngIf="show_ff>0"  class="constantDetails">Fill factor of material: <span class="constantValue">{{show_ff}}</span></p>
        <p *ngIf="show_efficency>0" class="constantDetails">Efficiency of material (%): <span class="constantValue">{{show_efficency}}</span></p>
      </div>
      
    </div>
      <!-- left portion end -->

        <!-- mid portion start -->
    <div class="col-3">

      
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">J.sc (mA)</th>
            <th scope="col">I.sc (mA)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="currentTable.length==0" class="text-center">
            No value here
          </tr>
          <tr *ngFor="let list of currentTable; index as i" >
            <th scope="row">{{i+1}} </th>
            <td>{{list.JSC}}</td>
            <td>{{list.I_SC}} </td>
          </tr>

        </tbody>
      </table>

      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">J<sub>sc</sub> (mA)</th>
            <th scope="col">V<sub>oc</sub> (Volt)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="voltageTable.length==0" class="text-center">
            No value here
          </tr>
          <tr *ngFor="let list of voltageTable; index as i" >
            <th scope="row">{{i+1}} </th>
            <td>{{list.JSC}}</td>
            <td>{{list.V_OC}} </td>
          </tr>

        </tbody>
      </table>
      
      
    </div>
      <!-- mid portion end -->
    <div class="col">
      <p-chart type="line" [data]="dataISC" [options]="options" width="40vw" height="60vh"></p-chart>
      <p-chart type="line" [data]="dataVOC" [options]="options" width="40vw" height="60vh"></p-chart>
      <p-chart type="line" [data]="bothIscVoc" [options]="options" width="40vw" height="60vh"></p-chart>
    </div>
  </div>





